@model  PaginatedListSensor<TemperatureSensor>  

<meta name="viewport" content="width=device-width"/>
<div style="overflow:scroll;" class="example">
    <h1 class="display-4">@ViewData["NAME"]</h1>
    
    <div id="chartTemperature" class="Column" style="height: 400px; width: 30%;"></div>
    
    <div class="Row">
        <h5 class="display-7">Download data: </h5>
        <a asp-controller="Rest" asp-action="getTemperatureData" asp-route-format="json" asp-route-address="@ViewData["MAC"]" 
           asp-route-minDate="@ViewData["MINDATE"]" asp-route-maxDate="@ViewData["MAXDATE"]" target="_blank" class="aLink">Download JSON</a>
        <spacer type="horizontal" width="100" height="100"> </spacer>
        <a asp-controller="Rest" asp-action="getTemperatureData" asp-route-format="csv" asp-route-address="@ViewData["MAC"]" 
           asp-route-minDate="@ViewData["MINDATE"]" asp-route-maxDate="@ViewData["MAXDATE"]" target="_blank" class="aLink">Download CSV</a>
    </div>
    
    <div class="Row">
        <h3>
            Sensor data
        </h3>
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="SetFilter">
            
            <input type="hidden" name="mac" value="@ViewData["MAC"]" />
            <input type="hidden" name="page" value="@Model.PageIndex" />
            <input type="hidden" name="size" value="@Model.PageSize" />
            <input type="hidden" name="sort" value="@ViewData["SORT"]" />
            <input type="hidden" name="order" value="@ViewData["ORDER"]" />
            <input type="hidden" name="sensor" value="temperature" />
            <input type="hidden" name="actionName" value="SensorTable" />
            
            <span> From: </span>
            <input name="minDate" type="date" value="@ViewData["MINDATE"]"/>
            <span> To: </span>
            <input name="maxDate" type="date" value="@ViewData["MAXDATE"]"/>

            <input type="submit" value="Add filter"/>
        </form>
        
        @if (ViewData["MINDATE"] != null || ViewData["MAXDATE"] != null)
        {
            @Html.ActionLink("Reset filter", "SetFilter", new
            {
                mac = ViewData["MAC"],
                page = Model.PageIndex,
                size = Model.PageSize,
                sort = ViewData["SORT"],
                order = ViewData["ORDER"],
                sensor = "temperature",
                actionName = "SensorTable"
            })
        }
        
        <br/><br/>
        
        @if (Model.Items.Any())
        {
            <table >
                <tr style=" border-bottom:1px dotted gray">
                    <th class="table-dark" style="text-align: center">
                        @Html.ActionLink("Date", "SortTable", new
                        {
                            mac = ViewData["MAC"],
                            minDate = ViewData["MINDATE"],
                            maxDate = ViewData["MAXDATE"],
                            page = Model.PageIndex,
                            size = Model.PageSize,
                            sort = "date",
                            sensor = "temperature",
                            oldSort = ViewData["SORT"],
                            oldOrder = ViewData["ORDER"],
                            actionName = "SensorTable"
                        })
                    </th>
                    <th class="table-dark" style="text-align: center">
                        @Html.ActionLink("Value", "SortTable", new
                        {
                            mac = ViewData["MAC"],
                            minDate = ViewData["MINDATE"],
                            maxDate = ViewData["MAXDATE"],
                            page = Model.PageIndex,
                            size = Model.PageSize,
                            sort = "value",
                            sensor = "temperature",
                            oldSort = ViewData["SORT"],
                            oldOrder = ViewData["ORDER"],
                            actionName = "SensorTable"
                        })
                    </th>
                </tr>

                @for (int k = 0; k < Model.Items.Count; k++)
                {
                    var data = Model.Items[k];

                    <tr style=" border-bottom:1px dashed gray">
                        @if (k % 2 != 0)
                        {
                            <td class="table-dark" style=" text-align: center">
                                @data.DateTime.ToString("yyyy-MM-dd HH:mm:ss.fff")
                            </td>
                            <td class="table-dark" style=" text-align: center">
                                @data.Celsius
                            </td>
                        }
                        else
                        {
                            <td style=" text-align: center">
                                @data.DateTime.ToString("yyyy-MM-dd HH:mm:ss.fff")
                            </td>
                            <td style=" text-align: center">
                                @data.Celsius
                            </td>
                        }
                    </tr>
                }

            </table>

            <table >
                <tr>
                    @if (Model.PageIndex > 0)
                    {
                        var prevPageIndex = Model.PageIndex - 1;
                        <td>
                            @Html.ActionLink("Previous", "SensorTable", new
                            {
                                mac = ViewData["MAC"],
                                minDate = ViewData["MINDATE"],
                                maxDate = ViewData["MAXDATE"],
                                page = prevPageIndex,
                                size = Model.PageSize,
                                sort = "value",
                                sensor = "temperature",
                                oldSort = ViewData["SORT"],
                                oldOrder = ViewData["ORDER"]
                            })
                        </td>
                    }
                    @if (Model.PageIndex < Model.TotalPages - 1)
                    {
                        var nextPageIndex = Model.PageIndex + 1;
                        <td>
                            @Html.ActionLink("Next", "SensorTable", new
                            {
                                mac = ViewData["MAC"],
                                minDate = ViewData["MINDATE"],
                                maxDate = ViewData["MAXDATE"],
                                page = nextPageIndex,
                                size = Model.PageSize,
                                sort = "value",
                                sensor = "temperature",
                                oldSort = ViewData["SORT"],
                                oldOrder = ViewData["ORDER"]
                            })
                        </td>
                    }
                </tr>
            </table>
        }
        else
        {
            <p><b> No data available </b></p>
        }
    </div>
    
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script type="text/javascript" src="~/js/temperatureChart.js"></script>
    
    <script type="text/javascript">
        window.onload = function () {   
            $.getJSON("/rest/json/temperature/avg",{'address': "@ViewData["MAC"]", 'minDate': "@ViewData["MINDATE"]", 
                                                               'maxDate': "@ViewData["MAXDATE"]"},  addData3);
        }
    </script>
</div>